---
layout: default
---
<h2 id="key-statistics">Dutch government</h2>
<ul>
<li><strong>Number of domains: 1233</strong></li>
<li><strong>Number of subdomains: 42230</strong></li>
<li><strong>Number of urls: 18246</strong></li>
<li><strong><a href='https://securityheaders.com/'>Average HTTP Security headers rank</a>: C</strong></li>
<li><strong><a href='https://www.ssllabs.com/ssltest/'>Average SSL grade</a>: A-</strong></li>
<li><strong><a href='https://www.digitaleoverheid.nl/nieuws/standaard-security-txt-nu-verplicht-voor-overheid/'>security.txt</a>: 6676</strong></li>
</ul>


<ul>
<li><a href="/DutchGovScope/storage/dutchgov/domains.txt">domains.txt</a>: List of all <strong>1233</strong> domains in scope </li>
<li><a href="/DutchGovScope/storage/dutchgov/subdomains.txt">subdomains.txt</a>: Detailed list of <strong>42230</strong> alive subdomains.</li>
<li><a href="/DutchGovScope/storage/dutchgov/urls.txt">urls.txt</a>: Compilation of <strong>18246</strong> URLs.</li>
<li><a href="/DutchGovScope/storage/dutchgov/all_subdomains.txt">all_subdomains.txt</a>: All <strong>104576</strong> subdomains that were found all over the time </li>
</ul>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>SSL Rank</th>
            <th>HTTP Rank</th>
            <th>Alive subdomains :page_facing_up:</th>
            <th>All subdomains :page_facing_up:</th>
            <th>URL's :page_facing_up:</th>
        </tr>
     </thead>
<tbody>
{% for post in paginator.posts %}
<tr>
    <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
    <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.ssl_rank }}</a></td>
    <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.http_rank }}</a></td>
    <td><a href="{{ post.subdomains_link|prepend: site.baseurl }}">{{ post.subdomains_count }}</a></td>
    <td><a href="{{ post.all_subdomains_link|prepend: site.baseurl }}">{{ post.all_subdomains_count }}</a></td>
    <td><a href="{{ post.url_link|prepend: site.baseurl }}">{{ post.urls_count }}</a></td>
</tr>

{% endfor %}
</tbody>

</table>




<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path|prepend: site.baseurl }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>